@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bolder">Welcome</h1>
    <h1 class="display-4 fw-bolder">To Winter Fun</h1>
    <h2 class="mt-5">
        This is the forum where you can either share fun winter experiences
        or a place where you can get inspiration on where you can go and what 
        you can do to create new experiences.
    </h2>

</div>
